<div class="container py-4">
<header class="pb-3 mb-4 border-bottom position-relative">
  <a href="/" class="d-flex align-items-center text-body-emphasis text-decoration-none">
    <img src="{{ '/assets/images/igr.png' | prepend: site.baseurl }}"
	 height="30rem"
	 class="pe-3"/>
    <span class="fs-4">Institute for Gravitational Research</span>
    <img src="{{ '/assets/images/uofg.png' | prepend: site.baseurl }}"
	 height="30rem"
	 class="pe-3 position-absolute end-0"/>
  </a>
</header>
</div>
